.navbar {
    background-color: #171717 !important;
}

.carousel-caption {
    position: fixed !important;
}

.btn:hover {
    transition: 0.3s;
}

.carousel-item {
    transition: transform 2.6s ease-in-out;
  }
  
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
transition: opacity 0s 2.6s;
}

.carousel-control-prev:hover{
    background: linear-gradient(90deg, rgba(0,0,0,0.22452731092436973) 0%, rgba(255,255,255,0) 75%);;
    transition: 1s;
}

.carousel-control-next:hover{
    background: linear-gradient(270deg, rgba(0,0,0,0.22452731092436973) 0%, rgba(255,255,255,0) 75%);;
    transition: 1s;
}