/** Imagens */
.img-back {
    background-image: url(../../resources/images/outros/contatos.jpg);
}

.img-locais {
  object-fit: cover;
  background-image: url(../../resources/images/outros/locais.jpg);
}

/** Páginas Vázias */
.empty {
  background-image: url(../../resources/images/outros/empty.png);
  padding-top: 20%;
  text-shadow: 2px 3px 10px #111111;
  color: gainsboro;
}

/** Outros */
.transp-input input, .transp-input textarea {
  background-color: #171717ee !important;
  color: rgb(240, 240, 240) !important;
  border: 0 !important;
}

.transp-input ::placeholder {
  color:#ffffff8b
}

.card-fit label {
  background:#00000000 !important
}

.card-fit img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px
}

.card-fit input,label {
  height: 100%;
}

.text-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dark-div {
  padding: 0.1rem;
}
.dark-div:hover {
  transition: 0.5s;
  background-color: #0f0f0fd5;
}
.dark-div p {
  font-size: 1.2rem;
}

.div-local {
  color:aliceblue;
  background-color: #17262e;
  border-radius: 15px;
}

.div-coll {
  transition: 0.3s;
}

.div-coll p, h5{
  margin: 0;
}